@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*variáveis*/
:root{
    --back-color: #0b0603;
    --primary-color: #bd512a;
    --second-color: #fce5a6fd;
    --font-color:  #f3f2ea;
    --card-background: #be4011;
    --font-type: 'Inter', sans-serif;
}

/*corpo*/

*{
    list-style: none;
}

body{
    height: 100vh;
    background-color: var(--back-color);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
    width: 100%;
}

/*cabeçalho*/

header .banner__image {
    width: 100%;
    min-width: 375px;
    height: 200px; 
    object-fit: cover;
    display: block;
}

.perfil{
    position: relative;
    top: -100px;
    display: flex;
    justify-content: center;
}

.foto-de-perfil{
    border:#a12c00 solid 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    transition: 1s;
}

.foto-de-perfil:hover{
    border:#fdda76 solid 5px;
}

.marcacao-de-texto{
    color: var(--primary-color);
}

 .titulo-principal{
    font-size: 3rem;
    text-align: center;
    margin: 0px 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--second-color);
    border-width: medium;
}

/*conteúdo principal - introdução*/

.sub-titulos{
    margin: 0px 2px;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 20px;
}

.sub-titulos::before{
    content: "· ";
}

h3{
    margin-left: 10px;
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.texto-de-apresentacao{
    margin: 20px 20px;
    text-align: justify;
}

.destaque-texto{
    color: var(--primary-color);
    display: inline;
}

/*projetos*/

.projetos{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.projetos____nav{
    margin-bottom: 20px;
}

.projetos__nav__menu {
    margin-left: 10px;

}

.projetos__nav__menu__link {
    color: var(--font-color);
    margin: 20px 0px;
}

/*experiência*/
.experiencia__texto{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.experiencia__texto__paragrafo{
    border-left: 1px solid var(--card-background);
    padding-left: 10px;
}

.experiencia__texto__paragrafo:nth-child(1){
    margin-left: 35px;
}

/*certificados*/

.cards-lista{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.card{
    padding: 20px;
    border: 4px dashed var(--primary-color);
    border-radius: 20px;
    max-width: 200px;
    text-align: center;
    max-height: 200px;
    min-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.card:nth-of-type(2n-1){
    margin-top: 30px;
}

.card:hover{
    padding: 20px;
    border: 4px solid var(--primary-color);
    background-color: var(--card-background);
    color: var(--back-color);
}


.imagem-certificado{
    max-width:200px;
    max-height:150px;
}

.p-card-title{
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (min-width: 600px) {

   

    .sub-titulos{
        margin: 20px 20px;
    }

    .apresentacao{
        display: flex;
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-left: 5em;
    }

    .projetos__nao-responsivos{
        margin-right: 5rem;
    }

    .cards-lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {

    .experiencia__texto{
        width: 100%;
    }

    .texto-de-apresentacao{
        margin: 20px 5em;
        justify-content: center;
        align-items: center;
    }

    .projetos{
        flex-direction: column;
    }

    .cards-lista{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items:normal;
    }

    .experiencia__texto__paragrafo:nth-child(3){
        margin-bottom: 35px;
    }
}

@media screen and (min-width: 2000px) {
    .texto-de-apresentacao{
        margin: 20px 35em;
        justify-content: center;
        align-items: center;
    }

    .cards-lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: 600px) {

    .experiencia__texto{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .experiencia__texto__paragrafo:nth-child(1){
        margin-left: 0px;
    }
}