@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --back-color: #0b0603;
    --primary-color: #a12c00;
    --second-color: #fdda76;
    --font-color:  #f5f2d0;
    --font-type: 'Inter', sans-serif;
}

*{
    list-style: none;
}

body{
    height: 100vh;
    background-color: var(--back-color);
    color: var(--font-color);
    font-family: 'Inter', sans-serif;
}

header .banner-image {
    width: 100%;
    min-width: 375px;
    height: 200px; 
    object-fit: cover;
    display: block;
}

.icone-de-perfil{
    position: relative;
    top: -100px;
    display: flex;
    justify-content: center;
}

.icone-de-perfil img{
    border:#a12c00 solid 5px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 5px;
    transition: 2s;
}

.icone-de-perfil img:hover{
    border:#fdda76 solid 5px;
}

span{
    color: var(--primary-color);
}

 h1{
    font-size: 3rem;
    text-align: center;
    margin: 0px 10px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--second-color);
    border-width: medium;
}

h2{
    margin-left: 10px;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 20px;
}

h2::before{
    content: "· ";
}

h3{
    margin-left: 10px;
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}

h4{
    margin: 20px 20px;
    text-align: justify;
}

.destaque-texto{
    color: var(--primary-color);
    display: inline;
}

.projetos{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    margin-bottom: 20px;
}

nav ul {
    margin-left: 10px;

}

nav ul a {
    color: var(--font-color);
    margin: 20px 0px;
}

.cards-ul{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.card{
    padding: 20px;
    border: 4px dashed var(--primary-color);
    border-radius: 20px;
    max-width: 200px;
    text-align: center;
    max-height: 200px;
    min-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.card:nth-of-type(2n-1){
    margin-top: 30px;
}

.card:hover{
    padding: 20px;
    border: 4px solid var(--primary-color);
    background-color: var(--second-color);
    color: var(--back-color);
}


.imagem-certificado{
    max-width:200px;
    max-height:150px;
}

.p-card-title{
    margin-top: 20px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .projetos{
        display:flex;
        flex-direction: row;
        justify-content:space-around;
    }
}

@media screen and (min-width: 480px) {

    h2{
        margin: 20px 20px;
    }

    h4{
        margin: 20px 20px;
        text-align: justify;
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-left: 20px;
    }

    .projetos-responsivos{
        margin-left: 2rem;
    }

    .cards-ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}