

/*variáveis*/
:root{
    --back-color: #0b0603;
    --primary-color: #bd512a;
    --second-color: #f1db9e;
    --font-color:  #f3f2ea;
    --card-background: #be4011;
    --font-type: 'Inter', sans-serif;
}



/*conteúdo principal - introdução*/

.sub-titulos{
    margin: 0px 2px;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: 20px;
}

.sub-titulos::before{
    content: "· ";
}

h3{
    margin-left: 10px;
    font-size: 1.25rem;
    color: var(--primary-color);
    margin-bottom: 10px;
}



/*projetos*/

.projetos{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.projetos____nav{
    margin-bottom: 20px;
}

.projetos__nav__menu {
    margin-left: 10px;

}

.projetos__nav__menu__link {
    color: var(--font-color);
    margin: 20px 0px;
}

.projetos__nav__menu__link:hover {
    text-decoration: underline;
}

/*experiência*/
.experiencia__texto{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.experiencia__texto__paragrafo{
    border-left: 1px solid var(--card-background);
    padding: 0 10px;
}

.experiencia__texto__paragrafo:nth-child(1){
    margin-left: 35px;
}

/*certificados*/

.cards-lista{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.card{
    padding: 20px;
    border: 4px dashed var(--primary-color);
    border-radius: 20px;
    max-width: 200px;
    text-align: center;
    max-height: 200px;
    min-height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

.card:nth-of-type(2n-1){
    margin-top: 30px;
}

.card:hover{
    padding: 20px;
    border: 4px solid var(--primary-color);
    background-color: var(--card-background);
    color: var(--back-color);
    cursor: pointer;
}


.imagem-certificado{
    max-width:200px;
    max-height:150px;
}

.p-card-title{
    margin-top: 20px;
    font-weight: bold;
}

.waves{
    margin-top: 2.5rem;
}

.wave-up{
    display: block;
}

.wave-down{
    position: relative;
    top: -10px;
}

footer{
    margin: 2.5rem 0;
    text-align: center;
}

.contato{
    text-align: center;
    margin: 0 15rem;
}

.contato__lista{
    list-style: none;
}

.contato__item{
    border: 2px solid var(--second-color);
    border-radius: 15px;
    padding: 15px 50px;
    margin-bottom: 20px;
    text-align:center;
}

.contato__item:hover{
    background: rgb(189,81,42);
    background: linear-gradient(196deg, rgba(189,81,42,1) 20%, rgba(225,207,68,1) 50%, rgba(190,64,17,1) 80%);
    font-weight: bold;
}

.contato__link{
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

.contato__link:hover{
    color: var(--back-color);
    font-weight: bold;
}


@media screen and (min-width: 600px) {

    .sub-titulos{
        margin: 20px 20px;
    }

    .apresentacao{
        display: flex;
    }

    .projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        margin-left: 5em;
        align-items: start;
    }

    .projetos__nao-responsivos{
        margin-right: 5rem;
    }

    .cards-lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
    }

}

@media screen and (max-width: 800px) {

    body{
        background: rgb(189,81,42);
        background: linear-gradient(126deg, rgba(189,81,42,1) 0%, rgba(11,6,3,1) 20%);
    }

    .experiencia__texto{
        width: 100%;
    }


    .texto-de-apresentacao{
        margin: 20px 2em;
        justify-content: center;
        align-items: center;
    }

    .projetos{
        flex-direction: column;
    }

    .experiencia__texto{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .experiencia__texto__paragrafo:nth-child(3){
        margin-bottom: 35px;
    }

    
    .experiencia__texto__paragrafo:nth-child(1){
        margin-left: 0px;
    }

    .cards-lista{
        width: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
    }

    
    .contato{
        text-align: center;
        margin: 0 3rem;
    }


}

@media screen and (min-width: 2000px) {
    .texto-de-apresentacao{
        margin: 20px 35em;
        justify-content: center;
        align-items: center;
    }

    .cards-lista{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
}