*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:start;
    padding: 0.5em 1em;
}

.header-menu{
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items:center;
}

.titulo{
    font-family:var(--font-logo);
    font-size: 25px;
    font-weight: 600;
    margin-right: 0.3em;
}

.menu-icon{
    width: 20px;
    height: 20px;
}

.arrow-menu__icon{
    width: 20px;
    height: 20px;
}

.btn-secondary {
    --bs-btn-active-bg: var(--background);
    --bs-btn-hover-bg: var(--background);
    --bs-btn-hover-border-color:  var(--background);
}

.icon{
    width: 30px;
    height: 30px;
}

.btn-secondary{
    background: var(--background);
    border:none; 
    padding: 0;
}

.dropdown-item:hover{
    background-color: black;
    border-radius: 10px;
}