@import url("./header.css");
@import url("./carousel.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Satisfy&display=swap');

:root{
    --brackground: #f5f5f5;
    --font-color: #000000;
    --font-logo: 'Satisfy', cursive;
    --font-body: arial;
}

*{
    margin:0;
    padding: 0;
}

body{
    background: var(--brackground);
    color: var(--font-color);
    font-family: var(--font-body);
    font-size: 14px;
}