@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');@import url('https://fonts.googleapis.com/css2?family=Inter:wght@375&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none; 
}

body{
    font-size: 100%;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-image{
    height: 32.97px;
    width: 163px;
}

.cabecalho-menu-item{
    padding: 0 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #393d51
}

.cabecalho-menu-item-especial{
    padding: 0 5px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #F1554C;
    padding: 10px 25px;
    border-radius: 7px;
}

.principal{
    margin-top: 60px;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content:center;
}

.conteudo-primario{
    margin-left: 15px;
    margin-right: 150px;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #393d51;
    font-family: 'Exo 2', sans-serif;
}

h1{
    font-family: 'Exo 2';
    font-size: 43px;
    font-weight: bold;
}

.marcacao{
    color: #f1554c;
    display: inline;
}

.conteudo-primario-botoes{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px;
    margin-top: 25px;
}

button{
    background-color: #f1554c;
    padding: 10px 35px;
    border:none;
    border-radius: 7px;
    color:#ffffff;
    margin-right: 20px;
}

.conteudo-secundario{
    margin-left: 30px;
}

.icon-image{
    margin-right: 5px;
}

.conteudo-secundario-homem{
    box-shadow: -15px 15px 0px 0px #F1554C;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 110px;
    display: flex;
}