@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
//background
    $gradient-background: linear-gradient(126deg, rgba(189,81,42,1) 0%, rgba(11,6,3,1) 50%);

//colors
    $back-color: #0b0603;
    $primary-color: #bd512a;
    $secondary-color: #f1db9e;
    $font-color:  #f3f2ea;
    $card-background: #be4011;

//fonts
    $font-type: 'Inter', sans-serif;
    $font-bold: bold;
    $text-highlight: #8b3312;